<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input 
        type="text" 
        id="title" 
        formControlName="title"
        class="form-control">
    </div>
    <div class="form-group">
        <label for="authorId">Author id: </label>
        <input 
        type="number" 
        id="authorId" 
        formControlName="authorId"
        class="form-control">
    </div>
    <div class="form-group">
        <label for="publicationdate">Publication date:</label>
        <input 
        type="date" 
        id="publicationdate" 
        formControlName="publicationdate"
        class="form-control">
    </div>
    <div class="form-group">
        <label for="book_cover">Book cover: </label>
        <input 
        type="text" 
        id="book_cover" 
        formControlName="book_cover"
        class="form-control">
    </div>

    <button 
        type="submit" 
        [disabled]="!bookForm.valid"
        >Save
    </button>
</form>
