<a [routerLink]="['/people', 'add']">
    <button>
        Add Person
    </button>
</a>

<div>
    <div [formGroup]="sortForm">
        <label for="sort_type">Sort: </label>
        <select formControlName="sort_type" name="sort_type" id="sort_type" (change)="changeSortType()">
            <option value="sort_ascending_name">Ascending - name</option>
            <option value="sort_descending_name">Descending - name</option>
            <option value="sort_ascending_surname">Ascending - surname</option>
            <option value="sort_descending_surname">Descending - surname</option>
        </select>
    </div>
    <label for="search">Filter: </label>
    <input type="text" name="search" [(ngModel)]="search_text"/>
</div>

<ul>
    <app-person-list-item *ngFor="let person of visiblePeople | personFilterPipe: search_text" [person]="person"></app-person-list-item>
</ul>
